@charset "utf-8";
.sitemap {
	text-align: left;
	padding-top: 50px;
	float: left;
}
#sitemap .one {
	background-color: #4e1944;
}
#sitemap .container .content {
	max-width: 1000px;
	margin: auto;
	padding-bottom: 50px;
	width: 95%;
	margin: auto;
}
#sitemap ul li {
	padding: 5px;
} 
#sitemap ul {
	margin-bottom: 20px;
} 
#sitemap .one-half {
	text-align: left
	;padding-top: 50px; 
	float: left;
}